In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
df=pd.read_csv("C:/Users/igara/Ironhack Bootcamp/Bootcamp ironhack week3/Project Week 3/Data/Parking_Violations_Issued_Filtered_calculations.csv")

In [4]:
df.dtypes

Summons Number                         int64
Plate ID                              object
Registration State                    object
Plate Type                            object
Issue Date                            object
Violation Code                         int64
Vehicle Body Type                     object
Vehicle Make                          object
Issuing Agency                        object
Street Code1                           int64
Violation In Front Of Or Opposite     object
Street                                object
Law Section                          float64
Vehicle Color                         object
dtype: object

In [5]:
df.shape

(9093969, 14)

In [6]:
df_cal=df.copy()

In [7]:
df_cal["Month"]=pd.to_datetime(df_cal["Issue Date"]).dt.month

In [8]:
df_cal["Day"]=pd.to_datetime(df_cal["Issue Date"]).dt.day

In [9]:
df_mm=pd.DataFrame(df_cal.groupby("Month")["Violation Code"].count()).reset_index()

In [10]:
df_mm

    Month  Violation Code
0       1          720452
1       2          653747
2       3          907044
3       4          859744
4       5          897787
5       6          680989
6       7          172962
7       8          838603
8       9          827047
9      10          953028
10     11          848342
11     12          734224

In [11]:
round(float(df_mm["Month"].corr(df_mm["Violation Code"], method="pearson")), 2)

0.08

In [12]:
round(float(df_mm["Month"].corr(df_mm["Violation Code"], method="spearman")), 2)

0.16

In [13]:
df_sv=pd.DataFrame(df_cal.groupby("Street")["Violation Code"].value_counts()).reset_index()

In [14]:
df_crosstab=pd.crosstab(df_cal["Street"],df["Violation Code"])

In [15]:
#https://medium.com/@ktoprakucar/how-to-calculate-the-correlation-between-categorical-and-continuous-values-dcb7abf79406
_, chi2_pvalue, _, _  = chi2_contingency(df_crosstab)

In [16]:
chi2_pvalue

0.0

In [31]:
df_dv=pd.DataFrame(df_cal.groupby("Day")["Violation Code"].count()).reset_index()

In [36]:
round(float(df_dv["Day"].corr(df_dv["Violation Code"], method="pearson")), 2)

-0.25

In [38]:
round(float(df_dv["Day"].corr(df_dv["Violation Code"], method="spearman")), 2)

-0.18